*{
    margin: 0;
    padding: 0;
}

#panelAcceso{
    width: 350px; /* comentario */
    margin: auto;
    margin-top: 5%;
}

#panelMisProyectos{
    width: 90%; /* comentario */
    margin: auto;
}

#panelBacklog{
    width: 90%; /* comentario */
    margin: auto;
}

#panelSprintBacklog{
    width: 90%; /* comentario */
    margin: auto;
}

#panelAgregarUS{
    width: 50%; /* comentario */
    margin: auto;
}

#mensajes{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    height: 40px;
}

.izquierda{
    text-align: left;
}

.centrado{
    text-align: center;
}

.derecha{
    text-align: right;
}

.row{
    margin-bottom: 3px;
}

tbody tr{
    cursor: pointer;
}

.panel-primary {
    border-color: #ffffff; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@media (max-width: 700px){
    .id{
        display: none;
    }
}
